decord==0.6.0
evaluate==0.4.3
huggingface_hub==0.30.2
imageio==2.37.0
jieba==0.42.1
librosa==0.11.0
numpy==2.2.5
omegaconf==2.3.0
onnxruntime==1.21.1
pandas==2.2.3
Pillow==11.2.1
pydub==0.25.1
pymcd==0.2.1
pypinyin==0.54.0
soundfile==0.13.1
torch==2.7.0+cu118
torchaudio==2.7.0+cu118
torchdiffeq==0.2.5
torchvision==0.22.0+cu118
tqdm==4.67.1
transformers==4.51.3
x_transformers==2.2.12
opencv-python==4.11.0.86